Assembly-CSharp.csproj
*.csproj
*.sln
.idea/
Library/
Temp/
Builds/
obj/
ReadMe/
ExportFiles/
Assets/Plugins/iOS/IronSource/ISAdMobAdapter/GoogleMobileAds.framework/GoogleMobileAds
Assets/Plugins/iOS/IronSource/ISFacebookAdapter/FBAudienceNetwork.framework/FBAudienceNetwork
