<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657684610977-8o5nj90ftj5ckievo2htsnvvttfpv842.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657684610977-8o5nj90ftj5ckievo2htsnvvttfpv842</string>
	<key>API_KEY</key>
	<string>AIzaSyCK7hGAMpWaMVx8Zs1SMauJ6sXyNbcC_60</string>
	<key>GCM_SENDER_ID</key>
	<string>657684610977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>differences.find.your.life</string>
	<key>PROJECT_ID</key>
	<string>find-the-difference-my-life</string>
	<key>STORAGE_BUCKET</key>
	<string>find-the-difference-my-life.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657684610977:ios:9c729f02660f52340f95e0</string>
	<key>DATABASE_URL</key>
	<string>https://find-the-difference-my-life.firebaseio.com</string>
</dict>
</plist>